@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Firefox */
#table-size-guide {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #e5e7eb;
    scrollbar-gutter: both-edges;

  }
  
  #table-size-guide:hover {
    scrollbar-color: #6b7280 #e5e7eb;
  }

  /* Target the cancel button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23777"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
  background-size: 16px 16px;
  cursor: pointer;
}

/* Optional: Style on hover */
input[type="search"]::-webkit-search-cancel-button:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
}